@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
// Defined colors for dark theme and light theme
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
  --card-bg-color: rgb(238, 237, 237);
  --card-button-color: #69db7c;
  --card-button-border: var(--text-color);
  --background: #f8f9fa;
  --dislike-color: #ff6347;
  --heart-bg-color: #ff8787;
  --heart-color: var(--bg-color);
  --card-ability-first: #ffd43b;
  --card-ability-second: #3bc9db;
}
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #c9c9c9;
  --heading-color: #ffffff;
  --card-bg-color: #111111;
  --card-button-color: darkgreen;
  --card-button-border: var(--text-color);
  --background: #343a40;
  --dislike-color: darkred;
  --heart-bg-color: #b54d4d;
  --heart-color: var(--bg-color);
  --card-ability-first: #5e3900;
  --card-ability-second: #2cabbc;
}
:root {
  background-color: var(--background);
  color: var(--text-color);
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Kalam", cursive;
  font-style: normal;
}
.icon {
  stroke: unset;
  stroke-width: 0px;
  fill: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
}

.l {
  box-shadow: inset 0 0 0 1px red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.max-w240 {
  max-width: 240px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.hidden {
  visibility: hidden;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-80 {
  margin-top: 80px;
}

.pt-10 {
  padding-top: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.d-flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: end;
}
h6,
p,
button {
  color: var(--text-color);
}
// navbar css
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .navbar-logo {
    cursor: pointer;
    margin-right: auto; 
    img {
      height: 40px;
    }
  }

  .navbar-title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    .navbar-title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  // toggle switch css
  .theme-switch {
    display: flex;
    justify-content: end;
    align-items: center;
    .icon {
      font-size: large;
      margin-right: 4px;
    }
    .sun {
      color: #ff9800;
    }

    label {
      display: inline-block;
      position: relative;
      width: 34px;
      height: 20px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 20px;

        &:before {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          left: 3px;
          bottom: 3px;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;
        }
      }

      input:checked + .slider {
        background-color: #2196f3;
      }

      input:checked + .slider:before {
        transform: translateX(14px);
      }
    }
  }
}
// container css for home and pokemon page
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
  padding: 10px 20px;
  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
}
// container css for liked pokemon page
.container-selected {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}
// animation pulse for like
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
// wrapper css for card
.card-wrapper {
  position: relative;
  .play-card {
    .heart-btn {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: var(--heart-bg-color);
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 22px;
      color: var(--heart-color);
      transition: all 0.5s ease;
    }
    .heart-btn.pulse {
      animation: pulse 0.5s ease;
    }
    width: 100%;
    min-height: 400px;
    height: auto;
    background: var(--card-bg-color);
    border-radius: 15px;
    border: 2px solid var(--card-button-border);
    padding: 20px;
    h6 {
      font-size: 28px;
      margin: 20px 0;
    }
    p {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .card-image {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      .card-image-svg {
        width: 160px;
        height: 160px;
        min-height: 160px;
        max-height: 160px;
        img {
          width: 100%;
          height: 160px;
        }
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .card-title {
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
    }
    .card-abilities {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      div {
        border: 2px solid var(--card-button-border);
        padding: 2px 12px;
        border-radius: 8px;
        text-transform: uppercase;
      }
      .first-half {
        background-color: var(--card-ability-first);
      }
      .second-half {
        background-color: var(--card-ability-second);
      }
    }
    .go-btn {
      width: 100%;
      border: 2px solid var(--card-button-border);
      cursor: pointer;
      border-radius: 8px;
      padding: 12px;
      background: var(--card-button-color);
      font-family: "Kalam", cursive;
      transition: background 0.3s, box-shadow 0.3s, transform 0.1s;
      font-size: 22px;
      &:active {
        background: var(--card-button-color);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        transform: scale(0.98);
      }
    }
    .like-buttons {
      display: flex;
      justify-content: space-between;
      button {
        border: 2px solid var(--card-button-border);
        cursor: pointer;
        border-radius: 8px;
        width: 35%;
        padding: 10px;
        font-family: "Kalam", cursive;
        transition: background 0.3s, box-shadow 0.3s, transform 0.1s;
        font-size: 22px;
      }
      .like-btn {
        background: var(--card-button-color);
        &:active {
          background: var(--card-button-color);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          transform: scale(0.98);
        }
      }
      .dislike-btn {
        background: var(--dislike-color);
        &:active {
          background: var(--dislike-color);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          transform: scale(0.98);
        }
      }
    }
  }
  .cardOne {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.5s ease;
  }
  .cardTwo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    margin-top: 10px;
    transition: transform 0.5s ease;
  }
  .cardThree {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
    margin-top: 20px;
    transition: transform 0.5s ease;
  }
}

.second-card {
  position: relative;
  margin: 20px;
}

.third-card {
  position: relative;
  margin: 30px;
}

.text-center {
  text-align: center;
}

.add-back {
  position: relative;
  .back-btn {
    position: absolute !important;
    left: 0%;
    top: 45%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
    &:hover {
      color: #feca1b;
    }
  }
  .back-btn.dark-opacity {
    opacity: 0.8;
  }
}

.liketext {
  font-size: 32px;
  svg {
    color: red;
  }
}
.liketext.dark-opacity {
  opacity: 0.8;
}
.like-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  .like-card {
    flex: 1 1 calc(100% / 4 - 30px);
    background: var(--card-bg-color);
    border-radius: 15px;
    border: 1px solid black;
    padding: 20px;
    .img-box {
      height: 120px;
      width: 120px;
      min-height: 120px;
      img {
        width: 100%;
        height: 120px;
      }
    }
    text-transform: uppercase;
  }
}

.like-count {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: var(--text-color);
  cursor: pointer;
}
.next-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 45px;
  color: #feca1b;
  cursor: pointer;
}
// Media quries for displaying cards equally in liked page
@media (max-width: 1200px) {
  .like-card {
    flex: 1 1 calc(100% / 3 - 30px);
  }
}

@media (max-width: 768px) {
  .like-card {
    flex: 1 1 calc(100% / 2 - 30px);
  }
}

@media (max-width: 480px) {
  .like-card {
    flex: 1 1 100%;
  }
}
